<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PosterShop</title>
    <link href="main.css" type="text/css" rel="stylesheet">
</head>
  <body>
    <main role="main">
<h1>Just so there's some placeholding content</h1>
    
      <section class="input-panel">
        <input type="text" placeholder="We appreciate your feedback!">
      </section>

      <section class="posting-results">

      </section>

    </main>
  </body>


</html>